.header-search {
  position: relative;

  #header-search-input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 4px 12px;
    border-radius: 12px;
    border: none;
    transition: all 0.2s linear;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    &:focus {
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }
  }

  a {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0;
    height: 100%;
    padding: 4px 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    outline: none;
    border: none;
    transition: 0.2s linear;

    &:hover {
      background-color: rgba(0, 0, 255, 0.579);
    }
  }
}
