.header-search {
  position: relative;
  overflow-y: hidden;
  .header-search-input {
    width: 100%;
    outline: none;
    padding: 4px 12px;
    border-radius: 16px;
    border: 1px solid #cccccc7b;
    transition: all 0.2s linear;
    background-color: var(--bg-box);
    color: var(--text-color);
    &::placeholder {
      color: var(--text-color);
      opacity: 0.5;
    }
    &:focus {
      border: 1px solid #ccc;
    }
  }

  button,
  a {
    color: black;
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 1px;
    height: calc(100% - 2px);
    padding: 4px 12px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    outline: none;
    border: none;
    transition: 0.2s linear;

    &:hover {
      background-color: #cccccc5b;
    }
  }
}
@media (max-width: 540px) {
  .header-search {
    width: 60px;
    height: 32px !important;
    button,
    a {
      color: var(--text-color);
      background-color: transparent;
      position: absolute;
      display: inline-block;
      right: 0px;
      top: 0;
      height: 100%;
      padding: 0 8px;
      outline: none;
      border-radius: 4px;
      font-size: 1.2em;
      transition: 0.2s linear;
      &.active ~ .header-search-input {
        transform: translateY(0px);
        opacity: 1;
        visibility: unset;
      }
    }
    .header-search-input {
      position: fixed;
      left: 0;
      top: 53px;
      right: 0;
      box-shadow: 1px 1px 2px;
      transform: translateY(-70px);
      opacity: 0;
      visibility: hidden;
    }
  }
}
