#header {
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid var(--text-color);
  padding: 8px;
  .darkMode {
    width: 30px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
  }
  header {
    img {
      display: block;
      width: 30px;
      height: auto;
      object-fit: cover;
      margin-right: 4px;
    }
    a {
      text-decoration: none;
      color: var(--text-color);
    }
    .header-icon {
      button {
        border-radius: 4px !important;
        border: none;
        outline: none;
        padding: 4px 8px;
        color: var(--text-color);
        transition: all 0.5s ease;
        &:hover {
          box-shadow: 1px 1px 2px var(--text-color);
        }
      }
    }

    align-items: center;

    .fa-bars {
      font-size: 1.5em;
      cursor: pointer;
      padding: 4px;
      display: none;
    }

    .header-search {
      height: 100%;
    }

    .headerLogo {
      color: var(--background-color);
      font-size: 1.5rem;
      font-weight: 600;

      span {
        color: #031cfa;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        text-decoration: none;

        a {
          text-decoration: none;
          text-transform: capitalize;
          text-align: center;
          padding: 4px 8px;
          display: inline-block;
          color: var(--text-color);
          border-bottom: 1px solid transparent;
          transition: all 0.1s linear;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            border-radius: 50px;
            background-color: transparent;
            transition: all 0.5s linear;
          }

          &.active {
            font-weight: 600;
            &::before {
              width: 100%;
              background-color: red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #header {
    font-size: 1.2rem;
    text-align: center;
    z-index: 99;

    .close-btn {
      position: fixed;
      z-index: 99;
      outline: none;
      border: none;
      background-color: transparent;
      top: 10px;
      right: 10px;
    }

    header {
      z-index: 99;
      .header-menu {
        display: none !important;

        .header-menu-box {
          max-width: 300px;

          button {
            height: 100%;
            border-left: 1px solid rgba(4, 4, 4, 0.4);
            padding: 0 12px;
            text-transform: capitalize;
          }
        }
      }

      #active {
        position: fixed;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        color: var(--background-color);
        background-color: var(--bg-box);
        animation: moveSpaceship 0.2s linear;
        a {
          color: #000;
        }
        & div {
          width: 100%;
        }

        & ul {
          flex-direction: column;
          gap: 10px;
        }
      }

      .fa-bars {
        display: block;
      }
    }
  }
}

@keyframes moveSpaceship {
  0% {
    right: -50px;
  }

  100% {
    right: 0;
  }
}
